$dark-green: #505d58;
$green: #969f95;
$light-green: #cacbc1;
$white: #ffffff;

body {
  font-family: "Roboto", sans-serif;
  background-color: $dark-green;
  margin: 0;
}
* {
  box-sizing: border-box;
}
